@media (min-width: 576px) and (max-width: 767.98px) {  
    h1{
        font-size: 20pt;
    }
    h2{
        font-size: 15pt;
        letter-spacing: 1pt;
    }

    h3{
        font-size: 15pt;
    }
    p{
        font-size: 10pt;
    }
    .nav{
        top: 0;
        right: 0;
        position:fixed;
        width: 100vw;
        height: 60px;
        z-index: 100;
    }
    .toggle{
        visibility:visible;
        position: absolute;
        right: 0;
        margin: 10px;
        z-index: 100;
    }
    .toggle ion-icon{
        background-color: #232323;
        border-radius: 5px;
        width: 40px;
        height: 40px;
        color: #0CB8A3;
    }
    .navigation{
        width: 0;
        height: 0;
    }

    .navigation.active{
        width: 100vw;
        height: 100%;
        background: #232323ee;
    }

    .active:hover .title{
        color:#fff;
    }
    .active:hover .icon{
        color:#fff;
    }

    .container{
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }

    .inicio {
        position: relative;
        background-position: top;
        background-size:100%;   
    }
    
   
    .wellcome h2{
        font-size: 15pt;
    }
   
    .wellcome p{
        font-size: 12pt;
    }

    .btn-download{
        visibility: hidden;
    }

    .acerca dl {
        margin: 20px;
    }
    .acerca h3 {
        color: #fff;
        font-size: 14pt;
    }

    dl dd{
        padding-top: 10px;
        padding-left: 0px;
        text-align: justify;
    }
    dd a{
        font-size: 11pt;
    }
    #skills{
        display: block;
        height: auto;
    }

    #experiencia h3{
        font-size: pt;
        text-align: center;
    }

    .box .type{
        margin-bottom: 0;
        margin-top: 0;
        height: auto;
    }

    circle{
        cx:25px;  
        cy:25px; 
        r:22px; 
        stroke-width: 6px;   
        stroke-dasharray: 140;
        stroke-dashoffset: 140;   
    }

    svg{
        width: 50px;
        height: 50px;
    }
    .skill{
        height: 80px;
        align-items: center;
        text-align: center;
    }

    .percentage{
        width: 50px;
        height: 50px;
        padding: 7px;
        margin: 0 25%;
    }
    .percentage .inner{
        padding: 0;
    }
    .inner a{
        font-size: 9pt;
        font-weight: 300;
    }
        
    @keyframes p25{
        100%{
            stroke-dashoffset:105;
        }
    }

    @keyframes p35{
        100%{
            stroke-dashoffset:91;
        }
    }

    @keyframes p50 {
        100%{
            stroke-dashoffset:70;
        }
    }

    @keyframes p60 {
        100%{
            stroke-dashoffset:56;
        }
    }

    @keyframes p70 {
        100%{
            stroke-dashoffset:42;
        }
    }

    @keyframes p75 {
        100%{
            stroke-dashoffset:35;
        }
    }

    @keyframes p80 {
        100%{
            stroke-dashoffset:28;
        }
    }

    #contacto{
        height: auto;
        margin: 0;
    }

    .grid-proyectos{
        width: 90%;
        padding: 1rem;
        margin: 0 auto;
        display: grid;
        justify-content: center;
        grid-template-columns: 45% 45%;
        grid-template-rows: 250px ;
        

    }
    .grid-proyectos .item:active img {
        transform: translateX(-100%);
    }

    .grid-proyectos  .item:active .background,
    .grid-proyectos [data-animation] .item:active .background {
        transform: none;
    }

    .grid-proyectos .item img{
        height: 85%;
    }
    .grid-proyectos .item p{
        font-size: 11pt;
    }

    .grid-proyectos .item .background {
        font-size: 9pt;
    }

    #contacto .container {
        display: block;
        width: 100vw;
        height: 0;
        padding: 5%;
    }

    form{
        width:90%;
        height: auto;
        margin: 20px 5%;
    }

    form textarea{
        font-size: 10pt;
    }
    .container .links{
        margin-top: 25px;
        display: flex;
        margin-bottom: 0;
        height:auto;
        padding: 0;
        justify-content: center;
    }

    #contacto .container a:hover .title {
        animation: none;
    }
    
    #contacto  .container a {
        display: block;
        margin: 10px;

    }
    #contacto  .container a .icon{
        text-align: center;
        display: block;
    }
    
    #contacto  .container a .title{
        font-size: 10pt;
        visibility: visible;
        transform: translateX(0) translateY(0) rotate(0);
    }
        
}
